@import "tailwindcss";

@theme {
  --color-primary: #F3EDC8;
  --color-second: #561C24;
  --color-third: #BF3131;
  --font-cabin: "Cabin", "sans-serif";
  --font-gummy: "Sour Gummy", "sans-serif";
  --font-pacifico: "Pacifico", "cursive";
}