@import "tailwindcss";

@theme {
  --color-primary: #35374B;
  --color-second: #FFF;
  --color-third: #5BA68D;
  --font-cabin: "Cabin", "sans-serif";
  --font-gummy: "Sour Gummy", "sans-serif";
  --font-oswald: "Oswald", "sans-serif";
  --inset-shadow-md: inset 2px 2px 10px rgba(255, 255, 255, 1); 
}